.main {
    display: flex;
    position: absolute;
    padding: -19px;
    left: 20px;
    top: 18px;
    background-color: white;
    background-color: #f6f7fb;
    width: 552px;
    height: 441px;
    border-radius: 5px;
}
img {
    /* width: 249px; */
    /* height: 371px; */
    padding-top: 51px;
    padding-left: 6px;
}
body {
    background-color: #b9caf3;
}
.main-layout {
    margin: 10% 20%;
    position: relative;
    background-color: #edf0e9;
    width: 552px;
    height: 435px;
    border-radius: 5px;
}
.info-right {
    padding-left: 44px;
    padding-top: 37px;
}
span.tag {
    color: #6f9f25;
    font-size: 8px;
    padding-top: -11px;
    padding-left: 7px;
}
h3.name-product {
    padding-top: 10px;
    font-weight: 400;
    font-size: 42px;
    margin-bottom: 0;
}
h4 {
    font-size: 11px;
    padding-top: -15px;
    margin-bottom: 0;
}
.count-price {
    display: flex;
    margin-top: 23px;
}
.name {
    font-size: 10px;
    font-weight: 700;
    color: #7c7f84;
}
.price-number {
    font-size: 24px;
    color: #578837;
}
.quantity {
    margin-left: 36px;
}
.choos-number-product {
    margin-left: 22px;
    margin-top: 6px;
}

.info-left {
    z-index: 10;
    border-bottom: 441px solid white;
    /* border-left: 25px solid transparent; */
    border-right: 140px solid transparent;
    height: 0;
    width: 41%;
}
.choos-number-product {
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: white;
    border-radius: 15px;
    width: 100px;
    margin: 10px 0px;
}
span.tru {
    background-color: #f6f6f6;
    padding: 3px 8px;
    /* width: 42px; */
    /* height: 7px; */
    border-radius: 50%;
    padding-left: -18px;
    /* font-size: 17px; */
    font-weight: bold;
    color: #e3e3e3;
}
span.cong {
    margin-left: 11px;
    background-color: #f6f6f6;
    padding: 3px 8px;
    /* width: 42px; */
    /* height: 7px; */
    border-radius: 50%;
    padding-left: -18px;
    /* font-size: 17px; */
    font-weight: bold;
    color: #e3e3e3;
}
span.vol {
    margin-left: 13px;
}
.show-info-detail {
    display: flex;
    border-bottom: 2 solid blanchedalmond;
    /* border: aliceblue; */
   
    border-bottom: 1px solid #cdced2;
}
.description {
    font-weight: 500;
    padding-bottom: 12px;
    color: #909398;
    font-size: 14px;
    border-bottom: 1px solid #cdced2;
}
.detail {
    font-weight: 500;
    padding-left: 32px;
    padding-bottom: 3px;
    color: #909398;
    font-size: 14px;
}
.info-detail {
    margin-top: 22px;
    font-size: 14px;
}
.totals {
    display: flex;
    margin-top: 35px;
}
button.add-cart {
    margin-left: auto;
    margin-right: 16px;
    border: none;
    background-color: #6388d8;
    color: white;
    font-weight: 600;
    width: 137px;
    border-radius: 25px;
}
.price-all {
    font-weight: 600;
    color: #575a63;
}
.do,.xanhduong,.xanhla,.vang ,.tim{
    padding: 1px 5px;
    height: 10px;
    width: 4px;
    border-radius: 50%;
    margin-left: 12px;
}
.do{
    background-color: red;
}
.xanhduong {  
    background-color: rgb(17, 0, 255);
}
.xanhla {
    background-color: rgb(0, 255, 85);
}
.vang {
    background-color: rgb(238, 255, 0);
}
.tim {
    background-color: rgb(153, 0, 255);
}
.color-title {
    color: #548e28;
    font-size: 9px;
    font-weight: 600;
    /* margin-left: 50px; */
}
.select-color.d-flex {
    margin-left: 50px;
    margin-top: 12px;
}
.gr-mau.d-flex {
    padding-top: 2px;
    margin-left: 19px;
}