.main {
    display: flex;
    position: absolute;
    top: 63px;
    height: 476px;
    left: 63px;
    width: 81%;
}
/* .main-layout {
    background-image: url("../template/ghe.png");
    background-repeat: no-repeat, repeat;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
} */


.main-layout {
    margin: 5% 20%;
    position: relative;
    background-color: #f1f3ed;
    width: 801px;
    height: 600px;
    /* border-radius: 5px; */
}
.show-info-detail {
    display: flex;
    padding-top: 20px;
    padding-bottom: 0px;
    font-size: 12px;
    font-weight: 400;
    border-bottom: 1px solid #727476;
}
.option {
    display: flex;
    padding-top: 26px;
}
.info-left {
    background-color: #272532;
    padding-left: 13px;
}
h3.title {
    color: #e7ffff;
    font-weight: 500;
    font-size: 19px;
    padding-top: 23px;
}
h4.sub-title {
    color: #716d73;
    font-size: 10px;
    font-weight: 600;
    /* padding-top: 1px; */
    margin-bottom: 0;
}
.price {
    color: #f9ffff;
    font-size: 23px;
    font-weight: 400;
    padding-top: 10px;
}
.description {
    color: white;
    border-bottom: 2px solid #aeb0b1;
    padding-bottom: 5px;
}
.detail {
    color: rgb(219, 218, 218);
    padding-left: 10px;
}
.info-detail {
    color: #7d7f81;
    font-size: 13px;
    padding-top: 8px;
}
.title-color {
    color: aliceblue;
    font-size: 11px;
    font-weight: 600;
}
.title-quantity{
    color: aliceblue;
    font-size: 11px;
    font-weight: 600;
}
.choose-quantity {
    margin-left: 54px;
}
button.mauvang {
    padding: 10px;
    border: none;
    /* outline: 2px solid; */
    border-radius: 50%;
    background-color: rgb(214, 184, 15);
}
button.mautrang{
    padding: 10px;
    /* border: none; */
    border: 2px solid #272532;
    /* outline: 2px solid; */
    border-radius: 50%;
    background-color: white;
    outline: #7b857b solid 1px;
    margin-left: 7px;
}
button.tru {
    border: 1px solid #9f9ea9;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background: #212530;
    color: #9f9ea9;
    padding: 0px 9px;
}
button.cong {
    border: 1px solid #9f9ea9;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #212530;
    color: #9f9ea9;
    padding: 0px 9px;
}
.vol {
    padding: 0px 10px;
    color: white;
    border-top: 1px solid #9f9ea9;
    border-bottom: 1px solid #9f9ea9;
}
.change-num.d-flex {
    margin-top: 5px;
}
.total_prices {
    margin-top: 25px;
}
.total_price-title {
    color: aliceblue;
    font-size: 11px;
    font-weight: 600;
}
.total_price-info {
    color: #a5a5a5;
}
button.addToCart {
    margin-top: 35px;
    background: #272532;
    border: 1px solid #878787;
    width: 259px;
    padding: 11px;
    color: white;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 500;
}
.info-right {
    background-color: white;
}